@import "tailwindcss";

@theme {
  --color-megaPrimary: #1a202c;

  /* Fondo de toda la página */
  --color-main: #020617;

  /* Color para cajas, secciones o cards */
  --color-card: #1E1B4B;

  /* Color de acento (brand) */
  --color-brand: #6366F1;

  /* Para bordes o líneas divisorias */
  --color-line: #312E81;

  /* Colores de texto */
  --color-title: #F8FAFC;
  --color-body: #94A3B8;

}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
}

#root {
  height: 100%;
  width: 100%;
}

/* Oculta el scrollbar pero mantiene el scroll funcional */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}